@model _2017VisualStudioMVC.Models.tbl_category
@{
    ViewBag.Title = "Add Category";
}

<!doctype html>
<html lang="en">
<head>
    <script src="~/Content/fontawesome/js/all.js"></script>
    <link href="~/Content/fontawesome/css/all.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 mb-5">
                <span class="display-6 fw-bold text-danger text-center mb-5">Add Category</span>
                @Html.ValidationSummary("Fix these errors", new { @class = "text-danger"})
                <span class="text-danger">@ViewBag.error</span>
                <div class="input-group mt-2">
                    <div class="input-group-text"><i class="fa fa-user"></i></div>
                    @Html.TextBoxFor(x => x.cat_name, new { @class = "form-control", @placeholder = "Category Name" })
                    @Html.ValidationMessageFor(x => x.cat_name, "*", new { @class = "text-danger" })
                </div>
                <div class="input-group mt-1">
                    <div class="input-group-text"><i class="fa fa-image"></i></div>
                   <input type="file" id="imgfile" name="imgfile" class="form-control" required="required" />
                </div>
                <div class="input-group mt-2">
                    <input type="submit" class="btn btn-success w-100" value="Add" />
                </div>
            </div>
            <div class="col-md-4"></div>

        </div>

    }
</body>
</html>
